Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

feat: implement Phase 1 CI/CD pipeline foundation
  .husky/commit-msg
  README.md
  package.json
  src/__tests__/integration-multiple-assistants.test.ts
  src/__tests__/integration-single-assistant.test.ts
  src/filesystem/conflict-resolver.ts
  src/filesystem/installation-verifier.ts
  templates/ai-task-manager/TASK_MANAGER_INFO.md
Owners: @repository-maintainers, @documentation-team, @development-team

feat: implement Phase 1 CI/CD pipeline foundation
  .husky/commit-msg
  README.md
  package.json
  src/__tests__/integration-multiple-assistants.test.ts
  src/__tests__/integration-single-assistant.test.ts
  src/filesystem/conflict-resolver.ts
  src/filesystem/installation-verifier.ts
  templates/ai-task-manager/TASK_MANAGER_INFO.md
Owners: @repository-maintainers, @documentation-team, @development-team

feat: misc of disconnectedd things
  .claude/commands/tasks/execute-blueprint.md
  .claude/commands/tasks/generate-tasks.md
  .github/SECURITY.md
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .releaserc.json
  commands/tasks/execute-blueprint.md
  commands/tasks/generate-tasks.md
  find-matching-file.sh
  jest.config.js
  jest.setup.js
  package.json
  templates/basic-task.md
Owners: @documentation-team, @repository-maintainers

feat: misc of disconnectedd things
  .claude/commands/tasks/execute-blueprint.md
  .claude/commands/tasks/generate-tasks.md
  .github/SECURITY.md
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .releaserc.json
  commands/tasks/execute-blueprint.md
  commands/tasks/generate-tasks.md
  find-matching-file.sh
  jest.config.js
  jest.setup.js
  package.json
  templates/basic-task.md
Owners: @documentation-team, @repository-maintainers

feat: add support for Gemini custom slash commands
  .gemini/commands/tasks/create-plan.toml
  .gemini/commands/tasks/execute-blueprint.toml
  .gemini/commands/tasks/generate-tasks.toml
Owners: @repository-maintainers

feat: add support for Gemini custom slash commands
  .gemini/commands/tasks/create-plan.toml
  .gemini/commands/tasks/execute-blueprint.toml
  .gemini/commands/tasks/generate-tasks.toml
Owners: @repository-maintainers

fix: make finding plan more obvious
  templates/ai-task-manager/TASK_MANAGER_INFO.md
Owners: @documentation-team

fix: make finding plan more obvious
  templates/ai-task-manager/TASK_MANAGER_INFO.md
Owners: @documentation-team

feat: whatever this is
  .github/workflows/release.yml
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/init-orchestrator.test.ts
  src/filesystem/__tests__/filesystem-manager.test.ts
  src/filesystem/__tests__/filesystem-utils.test.ts
  src/filesystem/__tests__/installation-detector.test.ts
  src/filesystem/conflict-resolver.ts
  src/filesystem/installation-detector.ts
  src/init-orchestrator.ts
  src/ui/__mocks__/inquirer.ts
Owners: @repository-maintainers, @development-team

feat: whatever this is
  .github/workflows/release.yml
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/init-orchestrator.test.ts
  src/filesystem/__tests__/filesystem-manager.test.ts
  src/filesystem/__tests__/filesystem-utils.test.ts
  src/filesystem/__tests__/installation-detector.test.ts
  src/filesystem/conflict-resolver.ts
  src/filesystem/installation-detector.ts
  src/init-orchestrator.ts
  src/ui/__mocks__/inquirer.ts
Owners: @repository-maintainers, @development-team

feat(prompts): enhance task generation with scope control and test optimization
  .claude/agents/code-reviewer.md
  .claude/agents/debugger.md
  .claude/agents/deployment-engineer.md
  .claude/agents/javascript-developer.md
  .claude/agents/prompt-engineer.md
  .claude/agents/test-automator.md
  .claude/agents/typescript-expert.md
  .claude/commands/tasks/create-plan.md
  .claude/commands/tasks/generate-tasks.md
  .releaserc.json
  SECRETS_CONFIG.md
  eslint.config.js
  jest.config.js
  package.json
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/utils.test.ts
  src/cli.ts
  src/index.ts
  src/logger.ts
  src/types.ts
  src/utils.ts
  task-schema.json
  templates/commands/tasks/create-plan.md
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team, @repository-maintainers, @development-team

feat(prompts): enhance task generation with scope control and test optimization
  .claude/agents/code-reviewer.md
  .claude/agents/debugger.md
  .claude/agents/deployment-engineer.md
  .claude/agents/javascript-developer.md
  .claude/agents/prompt-engineer.md
  .claude/agents/test-automator.md
  .claude/agents/typescript-expert.md
  .claude/commands/tasks/create-plan.md
  .claude/commands/tasks/generate-tasks.md
  .releaserc.json
  SECRETS_CONFIG.md
  eslint.config.js
  jest.config.js
  package.json
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/utils.test.ts
  src/cli.ts
  src/index.ts
  src/logger.ts
  src/types.ts
  src/utils.ts
  task-schema.json
  templates/commands/tasks/create-plan.md
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team, @repository-maintainers, @development-team

feat: add automated ID generation bash commands to task templates
  src/types.ts
  src/utils.ts
  templates/commands/tasks/create-plan.md
  templates/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team

feat: add automated ID generation bash commands to task templates
  src/types.ts
  src/utils.ts
  templates/commands/tasks/create-plan.md
  templates/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team

fix: update ID generation commands to use front-matter as source of truth
  claude-template-analysis.md
  package.json
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/utils.test.ts
  src/cli.ts
  src/index.ts
  src/types.ts
  src/utils.ts
  templates/commands/tasks/create-plan.toml
  templates/commands/tasks/execute-blueprint.md
  templates/commands/tasks/execute-blueprint.toml
  templates/commands/tasks/generate-tasks.toml
Owners: @documentation-team, @repository-maintainers, @development-team

fix: update ID generation commands to use front-matter as source of truth
  claude-template-analysis.md
  package.json
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/utils.test.ts
  src/cli.ts
  src/index.ts
  src/types.ts
  src/utils.ts
  templates/commands/tasks/create-plan.toml
  templates/commands/tasks/execute-blueprint.md
  templates/commands/tasks/execute-blueprint.toml
  templates/commands/tasks/generate-tasks.toml
Owners: @documentation-team, @repository-maintainers, @development-team

test: validate end-to-end hook functionality
  templates/commands/tasks/create-plan.toml
  templates/commands/tasks/execute-blueprint.toml
  templates/commands/tasks/generate-tasks.toml
Owners: @repository-maintainers

test: validate end-to-end hook functionality
  templates/commands/tasks/create-plan.toml
  templates/commands/tasks/execute-blueprint.toml
  templates/commands/tasks/generate-tasks.toml
Owners: @repository-maintainers

feat: complete end-to-end hook validation task
  .ai/task-manager/plans/05--fix-commit-hook-errors/tasks/08--end-to-end-hook-validation.md
Owners: @documentation-team

feat: complete end-to-end hook validation task
  .ai/task-manager/plans/05--fix-commit-hook-errors/tasks/08--end-to-end-hook-validation.md
Owners: @documentation-team

fix: make plan ID generation simpler
  templates/commands/tasks/create-plan.md
Owners: @documentation-team

fix: make plan ID generation simpler
  templates/commands/tasks/create-plan.md
Owners: @documentation-team

fix: untrack unnecessary files
  .ai/task-manager/plans/05--fix-commit-hook-errors/tasks/08--end-to-end-hook-validation.md
Owners: @documentation-team

fix: untrack unnecessary files
  .ai/task-manager/plans/05--fix-commit-hook-errors/tasks/08--end-to-end-hook-validation.md
Owners: @documentation-team

fix: use the correct timezone
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

fix: use the correct timezone
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

fix: improve simplicity
  .claude/commands/tasks/create-plan.md
  .claude/commands/tasks/generate-tasks.md
Owners: @documentation-team

fix: improve simplicity
  .claude/commands/tasks/create-plan.md
  .claude/commands/tasks/generate-tasks.md
Owners: @documentation-team

docs: document the destination directory
  README.md
Owners: @documentation-team

docs: document the destination directory
  README.md
Owners: @documentation-team

feat: use worktrees
  .claude/commands/tasks/execute-blueprint.md
  templates/commands/tasks/execute-blueprint.md
Owners: @documentation-team

feat: use worktrees
  .claude/commands/tasks/execute-blueprint.md
  templates/commands/tasks/execute-blueprint.md
Owners: @documentation-team

feat: install Gemini in container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

feat: install Gemini in container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

feat: comprehensive test suite cleanup and stabilization
  jest.config.js
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/utils.test.ts
  src/utils.ts
  templates/commands/tasks/create-plan.toml
  templates/commands/tasks/execute-blueprint.toml
  templates/commands/tasks/generate-tasks.toml
Owners: @repository-maintainers, @development-team

feat: comprehensive test suite cleanup and stabilization
  jest.config.js
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/utils.test.ts
  src/utils.ts
  templates/commands/tasks/create-plan.toml
  templates/commands/tasks/execute-blueprint.toml
  templates/commands/tasks/generate-tasks.toml
Owners: @repository-maintainers, @development-team

feat: add TOML integration and validation tests
  .devcontainer/devcontainer.json
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/toml-integration.test.ts
  src/__tests__/toml-validation.test.ts
  src/index.ts
  src/utils.ts
Owners: @repository-maintainers, @development-team

feat: add TOML integration and validation tests
  .devcontainer/devcontainer.json
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/toml-integration.test.ts
  src/__tests__/toml-validation.test.ts
  src/index.ts
  src/utils.ts
Owners: @repository-maintainers, @development-team

feat: enhance task generation with skills-based agent selection
  src/index.ts
  src/utils.ts
  templates/commands/tasks/execute-blueprint.md
  templates/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team

feat: enhance task generation with skills-based agent selection
  src/index.ts
  src/utils.ts
  templates/commands/tasks/execute-blueprint.md
  templates/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team
