Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

chore(release): 1.18.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.18.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  2c6770667f442a91cb393c800ec669197aa952f4
Owners: @repository-maintainers

feat: modernize init command aesthetics - phase 1
  src/__tests__/conflict-detection.integration.test.ts
  src/cli.ts
  src/index.ts
  src/logger.ts
Owners: @development-team

feat: modernize init command aesthetics - phase 1
  src/__tests__/conflict-detection.integration.test.ts
  src/cli.ts
  src/index.ts
  src/logger.ts
Owners: @development-team

refactor: enhance workflow help display formatting
  src/__tests__/conflict-detection.integration.test.ts
  src/index.ts
Owners: @development-team

refactor: enhance workflow help display formatting
  src/__tests__/conflict-detection.integration.test.ts
  src/index.ts
Owners: @development-team

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  56cfa41c8eb31250fb7846fbeb0661d772e78058
Owners: @repository-maintainers

chore: add command example
  src/index.ts
Owners: @development-team

chore: add command example
  src/index.ts
Owners: @development-team

chore: the full workflow is no longer
  src/index.ts
Owners: @development-team

chore: the full workflow is no longer
  src/index.ts
Owners: @development-team

chore: the full workflow will be again
  src/index.ts
Owners: @development-team

chore: the full workflow will be again
  src/index.ts
Owners: @development-team

chore: restore full-workflow command
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

chore: restore full-workflow command
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

feat: improve full workflow command
  AGENTS.md
  src/__tests__/orchestration.integration.test.ts
  src/index.ts
  templates/ai-task-manager/config/scripts/compose-prompt.cjs
  templates/ai-task-manager/config/scripts/get-approval-methods.cjs
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team, @development-team, @repository-maintainers

feat: improve full workflow command
  AGENTS.md
  src/__tests__/orchestration.integration.test.ts
  src/index.ts
  templates/ai-task-manager/config/scripts/compose-prompt.cjs
  templates/ai-task-manager/config/scripts/get-approval-methods.cjs
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team, @development-team, @repository-maintainers

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  861472f1a80066c36b7b6328c52d1842d7b0c6a4
Owners: @repository-maintainers

fix: correct OpenCode integration directory structure and YAML parsing
  src/__tests__/cli.integration.test.ts
  src/index.ts
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/fix-broken-tests.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

test: add comprehensive validation for flexible plan ID matching
  src/__tests__/validate-plan-blueprint.test.ts
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
Owners: @development-team, @repository-maintainers

test: fix color code issue in tests
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
Owners: @repository-maintainers

fix: enhance findPlanDirectory to handle both padded and unpadded plan IDs
  templates/ai-task-manager/config/scripts/check-task-dependencies.cjs
Owners: @repository-maintainers

chore: add period at the end of descriptions
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

feat: implement agent file copying for Claude Code
  src/index.ts
Owners: @development-team

feat: implement agent conflict detection and console output
  src/index.ts
Owners: @development-team

feat: update the agent and the plan
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/assistant/agents/plan-creator.md
  templates/assistant/commands/tasks/create-plan.md
Owners: @documentation-team

fix: copy agents directory during init
  .opencode/command/tasks/create-plan.md
  .opencode/command/tasks/execute-blueprint.md
  .opencode/command/tasks/execute-task.md
  .opencode/command/tasks/fix-broken-tests.md
  .opencode/command/tasks/full-workflow.md
  .opencode/command/tasks/generate-tasks.md
  opencode.json
  src/index.ts
Owners: @documentation-team, @repository-maintainers, @development-team

fix: copy agents directory during init for Claude only
  .opencode/command/tasks/create-plan.md
  .opencode/command/tasks/execute-blueprint.md
  .opencode/command/tasks/execute-task.md
  .opencode/command/tasks/fix-broken-tests.md
  .opencode/command/tasks/full-workflow.md
  .opencode/command/tasks/generate-tasks.md
  opencode.json
  src/index.ts
Owners: @documentation-team, @repository-maintainers, @development-team

fix: remove verbose examples
  templates/assistant/agents/plan-creator.md
Owners: @documentation-team

fix: copy validation script from templates in test setup
  src/__tests__/validate-plan-blueprint.test.ts
Owners: @development-team

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Owners: @documentation-team

chore: add missing parenthesis
  src/index.ts
Owners: @development-team

fix: improve plan generation
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
Owners: @documentation-team

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Owners: @documentation-team
