Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  24e0aec411c0cb7177347e660012c38f9e027348
Owners: @repository-maintainers

feat: switch to Just the Docs theme with native Mermaid support
  docs/_config.yml
  docs/_includes/mermaid.html
  docs/_layouts/default.html
  docs/index.md
Owners: @documentation-team

feat: switch to Just the Docs theme with native Mermaid support
  docs/_config.yml
  docs/_includes/mermaid.html
  docs/_layouts/default.html
  docs/index.md
Owners: @documentation-team

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  f5e6e31160fd3205a53fd9f6ef031e881b75a7e3
Owners: @repository-maintainers

fix: make directory structure diagram more mobile-friendly
  docs/index.md
Owners: @documentation-team

fix: make directory structure diagram more mobile-friendly
  docs/index.md
Owners: @documentation-team

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  2fbc2e7f4893fc9f8fff383fdd8a1f0976b58402
Owners: @repository-maintainers

feat: comprehensive documentation restructure with README streamlining
  README.md
  docs/DEPLOYMENT.md
  docs/features.md
  docs/index.md
Owners: @documentation-team

feat: comprehensive documentation restructure with README streamlining
  README.md
  docs/DEPLOYMENT.md
  docs/features.md
  docs/index.md
Owners: @documentation-team

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  4e4d325a19a249757a9a09a7ecb04e5972e2688e
Owners: @repository-maintainers

docs: add comprehensive hooks system documentation
  docs/hooks.md
Owners: @documentation-team

fix: correct hooks documentation and fix GitHub Actions build step
  .github/workflows/test.yml
  docs/hooks.md
Owners: @repository-maintainers, @documentation-team

fix: refactor command functionality into reusable hooks (#1)
  .github/workflows/test.yml
  docs/hooks.md
  templates/ai-task-manager/config/hooks/POST_ERROR_DETECTION.md
  templates/ai-task-manager/config/hooks/POST_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_PHASE.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @repository-maintainers, @documentation-team

fix: refactor command functionality into reusable hooks (#1)
  .github/workflows/test.yml
  docs/hooks.md
  templates/ai-task-manager/config/hooks/POST_ERROR_DETECTION.md
  templates/ai-task-manager/config/hooks/POST_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_PHASE.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @repository-maintainers, @documentation-team

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  fa0143e5f01ed3acc022844c97323ff5ceefe45e
Owners: @repository-maintainers

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

docs: add link to GH in the header
  docs/_config.yml
Owners: @documentation-team

docs: add link to GH in the header
  docs/_config.yml
Owners: @documentation-team

docs: fix GitHub repository link in docs header
  docs/_config.yml
Owners: @documentation-team

docs: fix GitHub repository link in docs header
  docs/_config.yml
Owners: @documentation-team

feat: implement improved pattern matching for plan ID generation
  src/index.ts
  templates/assistant/commands/tasks/create-plan.md
Owners: @development-team, @documentation-team

feat: add comprehensive frontmatter validation layer
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

feat: enhance error handling and parsing for ID generation
  templates/assistant/commands/tasks/create-plan.md
Owners: @documentation-team

feat: complete integration and testing of ID generation solution
  templates/assistant/commands/tasks/create-plan.md
Owners: @documentation-team

fix: plan ID generation duplicate issue (#3)
  src/index.ts
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team

fix: plan ID generation duplicate issue (#3)
  src/index.ts
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  08bbe7434d3749add0f3e3d16a4304eb7a0d6e65
Owners: @repository-maintainers

fix: improve ID generation process
  src/__tests__/cli.integration.test.ts
  src/__tests__/utils.test.ts
  templates/ai-task-manager/config/scripts/get-next-plan-id.js
  templates/ai-task-manager/config/scripts/get-next-task-id.js
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @repository-maintainers, @documentation-team

fix: improve ID generation process
  src/__tests__/cli.integration.test.ts
  src/__tests__/utils.test.ts
  templates/ai-task-manager/config/scripts/get-next-plan-id.js
  templates/ai-task-manager/config/scripts/get-next-task-id.js
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @repository-maintainers, @documentation-team

chore(release): 1.8.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers
