Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

Notes added by 'git notes add'
  2c450814fbdbb0839593b6b22717daa0fef0b8f3
Owners: @repository-maintainers

feat: ensure the agent executes the hook
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

fix: drop unnecessary services
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

fix: correct full workflow role
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

feat: add PRE_TASK_EXECUTION hook (#16)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  AGENTS.md
  docs/architecture.md
  docs/comparison.md
  docs/customization-extension.md
  docs/customization.md
  docs/features.md
  docs/installation.md
  templates/ai-task-manager/config/hooks/POST_ERROR_DETECTION.md
  templates/ai-task-manager/config/hooks/POST_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_PHASE.md
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  templates/ai-task-manager/config/hooks/PRE_TASK_EXECUTION.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @repository-maintainers, @documentation-team

Notes added by 'git notes add'
  9aa27dbafceb7ac16383b65ea51f20c5b4eee92e
Owners: @repository-maintainers

chore(release): 1.34.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

feat(exec): spawn CLI with stream-json output
  package-lock.json
  package.json
  src/__tests__/exec.test.ts
  src/exec.ts
Owners: @repository-maintainers, @development-team

feat(exec): spawn CLI with stream-json output (#17)
  package-lock.json
  package.json
  src/__tests__/exec.test.ts
  src/exec.ts
Owners: @repository-maintainers, @development-team

chore(release): 1.35.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  a0ff780db4db13c96063fa728bf01d5c70f97aad
Owners: @repository-maintainers

feat(init): create archive directory on init
  src/__tests__/cli.integration.test.ts
  src/index.ts
Owners: @development-team

chore(release): 1.36.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  01ed653ce9ab49b3147935f917b61807a477afeb
Owners: @repository-maintainers

feat(v2)!: switch transactional file format from Markdown to semantic HTML
  package-lock.json
  package.json
  src/__tests__/exec.test.ts
  src/__tests__/get-next-plan-id.test.ts
  src/__tests__/orchestration.integration.test.ts
  src/__tests__/plan.test.ts
  src/__tests__/scripts.unit.test.ts
  src/__tests__/shared-utils.unit.test.ts
  src/__tests__/validate-plan-blueprint.test.ts
  src/exec.ts
  src/html-meta.ts
  src/plan-utils.ts
  src/plan.ts
  src/status.ts
  templates/ai-task-manager/config/hooks/POST_TASK_GENERATION_ALL.md
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
  templates/ai-task-manager/config/scripts/check-task-dependencies.cjs
  templates/ai-task-manager/config/scripts/extract-task-skills.cjs
  templates/ai-task-manager/config/scripts/get-next-task-id.cjs
  templates/ai-task-manager/config/scripts/shared-utils.cjs
  templates/ai-task-manager/config/scripts/update-task-meta.cjs
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
  templates/ai-task-manager/config/templates/BLUEPRINT_TEMPLATE.html
  templates/ai-task-manager/config/templates/BLUEPRINT_TEMPLATE.md
  templates/ai-task-manager/config/templates/EXECUTION_SUMMARY_TEMPLATE.html
  templates/ai-task-manager/config/templates/EXECUTION_SUMMARY_TEMPLATE.md
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.html
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/ai-task-manager/config/templates/TASK_TEMPLATE.html
  templates/ai-task-manager/config/templates/TASK_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan-auto.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
  templates/assistant/commands/tasks/refine-plan-auto.md
  templates/assistant/commands/tasks/refine-plan.md
Owners: @repository-maintainers, @development-team, @documentation-team

fix: update dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

fix: update dev container
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

chore(release): 1.36.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  5f9d512cce83eee0a6cb570cf938ae19b801f0ed
Owners: @repository-maintainers

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team
