Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

chore: fix devcontainer issues
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

chore: fix devcontainer issues
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

fix: update devcontainer
  .devcontainer/devcontainer.json
  src/index.ts
Owners: @repository-maintainers, @development-team

fix: update devcontainer
  .devcontainer/devcontainer.json
  src/index.ts
Owners: @repository-maintainers, @development-team

fix: make full-workflow continue through commands
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

fix: make full-workflow continue through commands
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

Notes added by 'git notes add'
  ebbd74d41ca90332e96807b69834d0c58e6f3833
Owners: @repository-maintainers

chore(release): 1.18.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.18.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

docs: update documentation with latest features
  README.md
  docs/features.md
  docs/reference.md
  docs/workflow.md
Owners: @documentation-team

docs: update documentation with latest features
  README.md
  docs/features.md
  docs/reference.md
  docs/workflow.md
Owners: @documentation-team

fix: make full-workflow continue through commands (1)
  src/plan-utils.ts
  src/plan.ts
  src/status.ts
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team

fix: make full-workflow continue through commands (1)
  src/plan-utils.ts
  src/plan.ts
  src/status.ts
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @documentation-team

chore(release): 1.18.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.18.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  c782e56a86ad847f903e3253625e9e09b3d63260
Owners: @repository-maintainers

fix: attempt to not pause after auto-generated tasks
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

fix: attempt to not pause after auto-generated tasks
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

chore(release): 1.18.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.18.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  3bbfb38b965c036c6aeb5a4afc4d1a021454ad7b
Owners: @repository-maintainers

fix: avoid bash error during execution
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

fix: avoid bash error during execution
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

Notes added by 'git notes add'
  f9f841b6f0c16dfc7560b5843a8b7f194d0dcb90
Owners: @repository-maintainers

chore(release): 1.18.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.18.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

fix: make full-workflow continue through commands (2)
  src/__tests__/set-approval-method.test.ts
  templates/ai-task-manager/config/scripts/set-approval-method.cjs
  templates/assistant/commands/tasks/full-workflow.md
Owners: @development-team, @repository-maintainers, @documentation-team

fix: make full-workflow continue through commands (2)
  src/__tests__/set-approval-method.test.ts
  templates/ai-task-manager/config/scripts/set-approval-method.cjs
  templates/assistant/commands/tasks/full-workflow.md
Owners: @development-team, @repository-maintainers, @documentation-team

chore(release): 1.18.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.18.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  42ecfa098e81759e4207c8a97d2f3f48597f1b8e
Owners: @repository-maintainers

fix: make full-workflow continue through commands (3)
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

fix: make full-workflow continue through commands (3)
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

refactor: split approval method into plan and tasks fields
  src/__tests__/set-approval-method.test.ts
  templates/ai-task-manager/config/scripts/set-approval-method.cjs
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @repository-maintainers, @documentation-team

refactor: split approval method into plan and tasks fields
  src/__tests__/set-approval-method.test.ts
  templates/ai-task-manager/config/scripts/set-approval-method.cjs
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @repository-maintainers, @documentation-team

chore(release): 1.18.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.18.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  35c7254ce0b9329a06c995b2ee1c55bf2765686c
Owners: @repository-maintainers

fix: avoid issue with formatters and bash
  templates/ai-task-manager/config/scripts/get-approval-methods.cjs
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @repository-maintainers, @documentation-team

fix: avoid issue with formatters and bash
  templates/ai-task-manager/config/scripts/get-approval-methods.cjs
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @repository-maintainers, @documentation-team
