Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

test: verify full-workflow template integration
  .ai/task-manager/plans/35--full-workflow-command/plan-35--full-workflow-command.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/02--test-full-workflow-integration.md
Owners: @documentation-team

test: verify full-workflow template integration
  .ai/task-manager/plans/35--full-workflow-command/plan-35--full-workflow-command.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/02--test-full-workflow-integration.md
Owners: @documentation-team

docs: add full-workflow option to init help text
  .ai/task-manager/plans/35--full-workflow-command/plan-35--full-workflow-command.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/03--update-init-workflow-help.md
  src/index.ts
Owners: @documentation-team, @development-team

docs: add full-workflow option to init help text
  .ai/task-manager/plans/35--full-workflow-command/plan-35--full-workflow-command.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/03--update-init-workflow-help.md
  src/index.ts
Owners: @documentation-team, @development-team

chore: archive AI plan
  .ai/task-manager/plans/35--full-workflow-command/plan-35--full-workflow-command.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/01--create-full-workflow-template.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/02--test-full-workflow-integration.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/03--update-init-workflow-help.md
Owners: @documentation-team

chore: archive AI plan
  .ai/task-manager/plans/35--full-workflow-command/plan-35--full-workflow-command.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/01--create-full-workflow-template.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/02--test-full-workflow-integration.md
  .ai/task-manager/plans/35--full-workflow-command/tasks/03--update-init-workflow-help.md
Owners: @documentation-team

chore: improve .gitignore
  .gitignore
Owners: @repository-maintainers

chore: improve .gitignore
  .gitignore
Owners: @repository-maintainers

docs: complete Phase 1 - Foundation Setup
  README.md
  docs/comparison.md
  docs/features.md
Owners: @documentation-team

docs: complete Phase 1 - Foundation Setup
  README.md
  docs/comparison.md
  docs/features.md
Owners: @documentation-team

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  dc3ff827426842ec27b534d7d6fc2364c29c84db
Owners: @repository-maintainers

docs: complete Phase 2 - Core Content Restructure
  docs/customization.md
  docs/features.md
  docs/index.md
  docs/workflows.md
Owners: @documentation-team

docs: complete Phase 2 - Core Content Restructure
  docs/customization.md
  docs/features.md
  docs/index.md
  docs/workflows.md
Owners: @documentation-team

docs: complete Phase 3 - Detail Pages Creation
  docs/architecture.md
  docs/comparison.md
  docs/installation.md
  docs/workflow.md
Owners: @documentation-team

docs: complete Phase 3 - Detail Pages Creation
  docs/architecture.md
  docs/comparison.md
  docs/installation.md
  docs/workflow.md
Owners: @documentation-team

docs: complete Phase 4 - Cleanup Deprecated Files
  docs/hooks.md
  docs/templates.md
Owners: @documentation-team

docs: complete Phase 4 - Cleanup Deprecated Files
  docs/hooks.md
  docs/templates.md
Owners: @documentation-team

docs: fix documentation issues
  docs/core-concepts.md
  docs/customization-extension.md
  docs/getting-started.md
  docs/reference.md
Owners: @documentation-team

docs: fix documentation issues
  docs/core-concepts.md
  docs/customization-extension.md
  docs/getting-started.md
  docs/reference.md
Owners: @documentation-team

fix: ensure full-workflow does not do pit stops
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

fix: ensure full-workflow does not do pit stops
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

feat: add plan remove subcommand
  src/__tests__/plan.test.ts
  src/cli.ts
  src/plan.ts
Owners: @development-team

feat: add plan remove subcommand
  src/__tests__/plan.test.ts
  src/cli.ts
  src/plan.ts
Owners: @development-team

Notes added by 'git notes add'
  481c931e4a569da9d94c5a948377a75f39c7ca68
Owners: @repository-maintainers

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

fix: replace Jekyll link tags with relative paths in documentation
  docs/architecture.md
  docs/comparison.md
  docs/core-concepts.md
  docs/customization-extension.md
  docs/customization.md
  docs/features.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/reference.md
  docs/workflow.md
  docs/workflows.md
Owners: @documentation-team

fix: replace Jekyll link tags with relative paths in documentation
  docs/architecture.md
  docs/comparison.md
  docs/core-concepts.md
  docs/customization-extension.md
  docs/customization.md
  docs/features.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/reference.md
  docs/workflow.md
  docs/workflows.md
Owners: @documentation-team

feat: create named volume for worktrees
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

feat: create named volume for worktrees
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

chore(release): 1.17.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.17.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  9d4fface8334d9118bd2bee45cc89b5b027bbe0e
Owners: @repository-maintainers

feat: add automatic task generation to execute-blueprint command
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

feat: add automatic task generation to execute-blueprint command
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  c1ca7698540bfa6f5082af124882581fdf98c35c
Owners: @repository-maintainers

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team
