Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

fix: restructure TOML prompt field at root level
  src/__tests__/cli.integration.test.ts
  src/__tests__/utils.test.ts
  src/utils.ts
Owners: @development-team

chore: update node base image
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

refactor: remove assistant detection scripts from command templates
  src/__tests__/orchestration.integration.test.ts
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/fix-broken-tests.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
  templates/assistant/commands/tasks/refine-plan.md
Owners: @development-team, @documentation-team

refactor: remove detection script references from hooks and documentation
  AGENTS.md
Owners: @documentation-team

refactor: delete obsolete assistant detection scripts
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  templates/ai-task-manager/config/scripts/detect-assistant.cjs
  templates/ai-task-manager/config/scripts/read-assistant-config.cjs
Owners: @documentation-team, @repository-maintainers

chore(release): 1.26.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  90460b2f501a14451dc54d21369353a206ff6a61
Owners: @repository-maintainers

fix: update PRE_PLAN.md and PLAN_TEMPLATE.md for improved documentation
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
Owners: @documentation-team

chore: update semantic-release packages to latest major versions
  package-lock.json
  package.json
Owners: @repository-maintainers

chore: update semantic-release packages to latest major versions
  package-lock.json
  package.json
Owners: @repository-maintainers

chore(release): 1.26.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  0caf13c8c9d136b68fa57bdcbc23aca07f9be4b4
Owners: @repository-maintainers

fix: streamline task and plan ID retrieval scripts
  src/__tests__/get-next-plan-id.test.ts
  src/__tests__/validate-plan-blueprint.test.ts
  templates/ai-task-manager/config/scripts/check-task-dependencies.cjs
  templates/ai-task-manager/config/scripts/get-next-plan-id.cjs
  templates/ai-task-manager/config/scripts/get-next-task-id.cjs
  templates/ai-task-manager/config/scripts/shared-utils.cjs
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
Owners: @development-team, @repository-maintainers

Notes added by 'git notes add'
  5389ca597afa20db140b1de65dc596199e60b179
Owners: @repository-maintainers

chore(release): 1.26.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

test: add comprehensive unit tests for scripts and utilities
  src/__tests__/cli.integration.test.ts
  src/__tests__/conflict-detection.integration.test.ts
  src/__tests__/get-next-plan-id.test.ts
  src/__tests__/orchestration.integration.test.ts
  src/__tests__/plan.test.ts
  src/__tests__/scripts.unit.test.ts
  src/__tests__/shared-utils.unit.test.ts
  src/__tests__/utils.test.ts
  src/__tests__/validate-plan-blueprint.test.ts
  templates/ai-task-manager/config/scripts/check-task-dependencies.cjs
  templates/ai-task-manager/config/scripts/find-root.cjs
  templates/ai-task-manager/config/scripts/get-next-plan-id.cjs
  templates/ai-task-manager/config/scripts/get-next-task-id.cjs
  templates/ai-task-manager/config/scripts/shared-utils.cjs
  templates/ai-task-manager/config/scripts/validate-plan-blueprint.cjs
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
  templates/assistant/commands/tasks/refine-plan.md
Owners: @development-team, @repository-maintainers, @documentation-team

chore(release): 1.26.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  2a21d260a43d9e3e83323500a5c4c7dac961a4aa
Owners: @repository-maintainers

fix(commands): improve configuration handling
  src/__tests__/orchestration.integration.test.ts
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/fix-broken-tests.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
  templates/assistant/commands/tasks/refine-plan.md
Owners: @development-team, @documentation-team

chore(release): 1.26.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  4e1b2612603240c57e3733a7b245945696031794
Owners: @repository-maintainers

fix(commands): update root script filename
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

chore(release): 1.26.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  4d9deae0ff9a606dbd982235cdc7c550fd3ef8cc
Owners: @repository-maintainers

fix: prevent auto-responses in refine-plan
  templates/assistant/commands/tasks/refine-plan.md
Owners: @documentation-team

chore(release): 1.26.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  a9aeff60c3e3ecdd8013c9197cf6f0baab113d6e
Owners: @repository-maintainers

fix: find the generate-tasks.md file first
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

chore(release): 1.26.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  a6a7e5649bcadcfb2706538a181128505cbbce6b
Owners: @repository-maintainers

fix: avoid BC spam
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
Owners: @documentation-team

Notes added by 'git notes add'
  2d0cada74c2a3753a07e4f9f57c98b2f822871dc
Owners: @repository-maintainers

chore(release): 1.26.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  96d0518bd75ea0b8714cfb87c08e7bc70efb8a46
Owners: @repository-maintainers

Notes added by 'git notes add'
  765ae146c44d20b9e421545c46712f40c75ea2a2
Owners: @repository-maintainers

Notes added by 'git notes add'
  7a5defd719a9ae95c730bce208ff05f9963a98d4
Owners: @repository-maintainers

refactor: improve tool guidance in templates
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/fix-broken-tests.md
  templates/assistant/commands/tasks/generate-tasks.md
  templates/assistant/commands/tasks/refine-plan.md
Owners: @documentation-team

fix: improve tool guidance in templates (#7)
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/fix-broken-tests.md
  templates/assistant/commands/tasks/generate-tasks.md
  templates/assistant/commands/tasks/refine-plan.md
Owners: @documentation-team

chore(release): 1.27.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  ddef31f9ef37246e36d8ac6aa0d3d42fc63583e4
Owners: @repository-maintainers
