Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

fix: update version
  package.json
Owners: @repository-maintainers

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @documentation-team, @repository-maintainers

feat: add support for codex
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  c7799903242decff90d2cd97e93bf42b78d9f05d
Owners: @repository-maintainers

chore: remove unnecessary file
  debug-plan-id.js
Owners: @repository-maintainers

feat: add plan refinement feature
  AGENTS.md
  README.md
  docs/installation.md
  docs/workflow.md
  docs/workflows.md
  src/__tests__/cli.integration.test.ts
  src/__tests__/orchestration.integration.test.ts
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/generate-tasks.md
  templates/assistant/commands/tasks/refine-plan.md
Owners: @documentation-team, @development-team

fix: address test failures
  src/__tests__/orchestration.integration.test.ts
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @development-team, @documentation-team

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  d538bacd4b1521e7d075fbe17c7e383228c7aa15
Owners: @repository-maintainers

feat(codex): add codex to assistant type system
  src/types.ts
Owners: @development-team

feat(codex): add template format mapping for codex
  src/__tests__/utils.test.ts
  src/utils.ts
Owners: @development-team

feat(codex): implement flat directory structure with file renaming
  src/index.ts
Owners: @development-team

test(codex): add integration tests for codex support
  src/__tests__/cli.integration.test.ts
Owners: @development-team

docs(codex): add comprehensive codex documentation
  AGENTS.md
Owners: @documentation-team

chore: improve devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  2d737a3d1b3a99ee7e76928cd3f9da63ae3885fb
Owners: @repository-maintainers

fix: uppercase vars trips codex
  AGENTS.md
  docs/customization.md
  src/__tests__/cli.integration.test.ts
  src/__tests__/orchestration.integration.test.ts
  src/__tests__/utils.test.ts
  src/utils.ts
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/fix-broken-tests.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/generate-tasks.md
  templates/assistant/commands/tasks/refine-plan.md
Owners: @documentation-team, @development-team

chore(release): 1.23.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  ac572af132e6825ddc0a4e21dfd1ed7b3df32747
Owners: @repository-maintainers

feat: add GitHub assistant type to type system
  src/__tests__/utils.test.ts
  src/types.ts
  src/utils.ts
Owners: @development-team

feat: implement GitHub prompt file conversion function
  src/utils.ts
Owners: @development-team

feat: integrate GitHub format routing in template processing
  src/utils.ts
Owners: @development-team

feat: implement GitHub directory and file creation logic
  src/index.ts
Owners: @development-team

test: add integration tests for GitHub Copilot support
  src/__tests__/cli.integration.test.ts
Owners: @development-team

docs: add GitHub Copilot documentation to AGENTS.md and README.md
  AGENTS.md
  README.md
Owners: @documentation-team

docs: add GitHub Copilot and Codex support references
  README.md
  docs/comparison.md
  docs/features.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/reference.md
  docs/workflow.md
Owners: @documentation-team

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  1fb0bc811ae4ac1b2581f5ef9497221bd4dc0bef
Owners: @repository-maintainers

feat: engage Claude Skills
  .devcontainer/devcontainer.json
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
Owners: @repository-maintainers, @documentation-team

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  2b01fe3a9fcb3c97bfd5758c142ea900abd41ab2
Owners: @repository-maintainers

feat: add support for Cursor
  .devcontainer/Dockerfile
  AGENTS.md
  README.md
  docs/installation.md
  src/__tests__/cli.integration.test.ts
  src/__tests__/utils.test.ts
  src/index.ts
  src/types.ts
  src/utils.ts
Owners: @repository-maintainers, @documentation-team, @development-team

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  656f59c9edf4011157f8c9d6300df35984d8e54b
Owners: @repository-maintainers

docs: update AGENTS.md with simplified content and multi-platform focus
  AGENTS.md
Owners: @documentation-team

fix: implement context-aware TOML escaping for triple-quoted strings
  src/__tests__/utils.test.ts
  src/utils.ts
Owners: @development-team

test: add TOML validation tests and verify multi-assistant compatibility
  src/__tests__/cli.integration.test.ts
Owners: @development-team

fix: improve TOML escaping for backslashes in triple-quoted strings
  src/__tests__/utils.test.ts
  src/utils.ts
Owners: @development-team
