Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

Notes added by 'git notes add'
  d7358ac6df935854ceed43e87824fe997f3a0eb7
Owners: @repository-maintainers

feat: reorganize file locations
  .devcontainer/Dockerfile
  CLAUDE.md
  IMPROVEMENTS.md
  README.md
  src/__tests__/cli.integration.test.ts
  src/index.ts
  templates/ai-task-manager/config/TASK_MANAGER.md
  templates/ai-task-manager/config/hooks/POST_PHASE.md
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/ai-task-manager/config/templates/TASK_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @repository-maintainers, @documentation-team, @development-team

feat: reorganize file locations
  .devcontainer/Dockerfile
  CLAUDE.md
  IMPROVEMENTS.md
  README.md
  src/__tests__/cli.integration.test.ts
  src/index.ts
  templates/ai-task-manager/config/TASK_MANAGER.md
  templates/ai-task-manager/config/hooks/POST_PHASE.md
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
  templates/ai-task-manager/config/templates/TASK_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @repository-maintainers, @documentation-team, @development-team

feat: allow executing a single task
  src/types.ts
  templates/ai-task-manager/config/scripts/check-task-dependencies.sh
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @development-team, @repository-maintainers, @documentation-team

feat: allow executing a single task
  src/types.ts
  templates/ai-task-manager/config/scripts/check-task-dependencies.sh
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @development-team, @repository-maintainers, @documentation-team

feat: add Open Code assistant validation support
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  src/__tests__/utils.test.ts
  src/utils.ts
Owners: @repository-maintainers, @development-team

feat: add Open Code assistant validation support
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  src/__tests__/utils.test.ts
  src/utils.ts
Owners: @repository-maintainers, @development-team

feat: implement Open Code directory structure creation
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  src/index.ts
Owners: @repository-maintainers, @development-team

feat: implement Open Code directory structure creation
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  src/index.ts
Owners: @repository-maintainers, @development-team

test: add comprehensive Open Code integration tests
  src/__tests__/cli.integration.test.ts
Owners: @development-team

test: add comprehensive Open Code integration tests
  src/__tests__/cli.integration.test.ts
Owners: @development-team

docs: update documentation for Open Code assistant support
  CLAUDE.md
  README.md
  src/cli.ts
Owners: @documentation-team, @development-team

docs: update documentation for Open Code assistant support
  CLAUDE.md
  README.md
  src/cli.ts
Owners: @documentation-team, @development-team

feat(task-complexity): design multi-dimensional complexity scoring algorithm
  task-complexity-scoring-algorithm.md
Owners: @documentation-team

feat(task-complexity): design multi-dimensional complexity scoring algorithm
  task-complexity-scoring-algorithm.md
Owners: @documentation-team

feat(task-complexity): create systematic task decomposition strategies
  task-decomposition-strategies.md
Owners: @documentation-team

feat(task-complexity): create systematic task decomposition strategies
  task-decomposition-strategies.md
Owners: @documentation-team

feat(task-complexity): integrate complexity analysis into generate-tasks template
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

feat(task-complexity): integrate complexity analysis into generate-tasks template
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

feat(task-complexity): add validation and iteration controls
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

feat(task-complexity): add validation and iteration controls
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

feat(task-complexity): complete comprehensive testing and validation
  test-backward-compatibility.md
  test-complexity-analysis-validation.md
  test-dependency-graph-integrity.md
  test-edge-cases-error-handling.md
  test-recursive-decomposition-controls.md
  test-results-and-recommendations.md
  test-scenarios-high-complexity.md
Owners: @documentation-team

feat(task-complexity): complete comprehensive testing and validation
  test-backward-compatibility.md
  test-complexity-analysis-validation.md
  test-dependency-graph-integrity.md
  test-edge-cases-error-handling.md
  test-recursive-decomposition-controls.md
  test-results-and-recommendations.md
  test-scenarios-high-complexity.md
Owners: @documentation-team

feat: make templates assistant-agnostic
  templates/ai-task-manager/config/TASK_MANAGER.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

feat: make templates assistant-agnostic
  templates/ai-task-manager/config/TASK_MANAGER.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

docs: emphasize how cheap this is
  README.md
Owners: @documentation-team

docs: emphasize how cheap this is
  README.md
Owners: @documentation-team

fix: recover sub-agent wording
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

fix: recover sub-agent wording
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

feat: move prompting to hook
  task-complexity-scoring-algorithm.md
  task-decomposition-strategies.md
  templates/ai-task-manager/config/hooks/POST_TASK_GENERATION_ALL.md
  templates/assistant/commands/tasks/generate-tasks.md
  test-backward-compatibility.md
  test-complexity-analysis-validation.md
  test-dependency-graph-integrity.md
  test-edge-cases-error-handling.md
  test-recursive-decomposition-controls.md
  test-results-and-recommendations.md
  test-scenarios-high-complexity.md
Owners: @documentation-team

feat: move prompting to hook
  task-complexity-scoring-algorithm.md
  task-decomposition-strategies.md
  templates/ai-task-manager/config/hooks/POST_TASK_GENERATION_ALL.md
  templates/assistant/commands/tasks/generate-tasks.md
  test-backward-compatibility.md
  test-complexity-analysis-validation.md
  test-dependency-graph-integrity.md
  test-edge-cases-error-handling.md
  test-recursive-decomposition-controls.md
  test-results-and-recommendations.md
  test-scenarios-high-complexity.md
Owners: @documentation-team

feat: drop worktrees
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

feat: drop worktrees
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  8d82aa2e5d3fe2bce0bd5ff960dc29371eee9a7d
Owners: @repository-maintainers

feat(task-quality): implement POST_TASK_CREATION hook for enhanced task validation
  src/__tests__/hook-specialization.integration.test.ts
  src/__tests__/hook-workflow.integration.test.ts
  src/index.ts
Owners: @development-team

feat(task-quality): implement POST_TASK_CREATION hook for enhanced task validation
  src/__tests__/hook-specialization.integration.test.ts
  src/__tests__/hook-workflow.integration.test.ts
  src/index.ts
Owners: @development-team

fix: copy all hooks
  src/__tests__/hook-specialization.integration.test.ts
  src/__tests__/hook-workflow.integration.test.ts
Owners: @development-team

fix: copy all hooks
  src/__tests__/hook-specialization.integration.test.ts
  src/__tests__/hook-workflow.integration.test.ts
Owners: @development-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team
