Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

fix: template typos and broken refs (#8)
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

fix: template typos and broken refs (#9)
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

chore(release): 1.27.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  e955684a36f03e359db9d721faf1e8e543bc6508
Owners: @repository-maintainers

feat: add claude-exec command for batch plan execution
  package-lock.json
  package.json
  src/cli.ts
  src/exec.ts
Owners: @repository-maintainers, @development-team

refactor: use Claude Agent SDK query() instead of CLI shell execution
  package-lock.json
  package.json
  src/exec.ts
Owners: @repository-maintainers, @development-team

feat: introduce `claude-exec` command (#10)
  package-lock.json
  package.json
  src/cli.ts
  src/exec.ts
Owners: @repository-maintainers, @development-team

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  9a20c1f4ef23ca6bfe016f3689dc3645e36a4565
Owners: @repository-maintainers

feat: add non-interactive create-plan-auto and refine-plan-auto commands
  AGENTS.md
  src/__tests__/cli.integration.test.ts
  src/index.ts
  templates/assistant/commands/tasks/create-plan-auto.md
  templates/assistant/commands/tasks/refine-plan-auto.md
Owners: @documentation-team, @development-team

fix: update stale test description comments for new template count
  src/__tests__/cli.integration.test.ts
Owners: @development-team

docs: align execute-task with execute-blueprint refinements
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

fix: address PR review comments on create-plan-auto template
  templates/assistant/commands/tasks/create-plan-auto.md
Owners: @documentation-team

fix: apply same review fixes to create-plan.md and full-workflow.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

feat: add non-interactive commands (#11)
  AGENTS.md
  src/__tests__/cli.integration.test.ts
  src/index.ts
  templates/assistant/commands/tasks/create-plan-auto.md
  templates/assistant/commands/tasks/full-workflow.md
  templates/assistant/commands/tasks/refine-plan-auto.md
Owners: @documentation-team, @development-team

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  fd776bce63518877d172ca920f1f42147b1313fb
Owners: @repository-maintainers

docs: address PR feedback on execute-task command
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

feat: enhance single task execution (#12)
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  6f722d1627806f005e2234ae4cae14f42b599c4d
Owners: @repository-maintainers

fix: allow running commands
  src/exec.ts
Owners: @development-team

chore(release): 1.30.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  9dfb5bb4559546fdbee15348dfc624337cf3a037
Owners: @repository-maintainers

feat: add Self Validation section to plan template
  templates/ai-task-manager/config/hooks/POST_EXECUTION.md
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
Owners: @documentation-team

feat: add Self Validation section to plan template (#13)
  templates/ai-task-manager/config/hooks/POST_EXECUTION.md
  templates/ai-task-manager/config/templates/PLAN_TEMPLATE.md
Owners: @documentation-team

chore(release): 1.31.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  1375aed1daf6faa761551c784a6ebdc9dfd59910
Owners: @repository-maintainers

feat: parallelize exec remediation
  src/__tests__/exec.test.ts
  src/exec.ts
Owners: @development-team

feat: parallelize exec remediation (#14)
  src/__tests__/exec.test.ts
  src/exec.ts
Owners: @development-team

chore(release): 1.32.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  1561d05253c7dd70c820e63d4c9445948fdb0fe3
Owners: @repository-maintainers

chore: style updates
  src/__tests__/cli.integration.test.ts
Owners: @development-team

docs: list correct post-install list
  .gitignore
  src/index.ts
Owners: @repository-maintainers, @development-team

chore: simplify template metadata
  templates/ai-task-manager/config/templates/BLUEPRINT_TEMPLATE.md
  templates/ai-task-manager/config/templates/EXECUTION_SUMMARY_TEMPLATE.md
Owners: @documentation-team

feat: enforce scope discipline guardrails
  templates/ai-task-manager/config/hooks/POST_EXECUTION.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

feat: add PRE_TASK_EXECUTION hook
  AGENTS.md
  templates/ai-task-manager/config/hooks/PRE_TASK_EXECUTION.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

docs: add PRE_TASK_EXECUTION hook to site
  docs/architecture.md
  docs/comparison.md
  docs/customization-extension.md
  docs/customization.md
  docs/features.md
  docs/installation.md
Owners: @documentation-team

chore: clean up hook templates
  templates/ai-task-manager/config/hooks/POST_ERROR_DETECTION.md
  templates/ai-task-manager/config/hooks/POST_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_PHASE.md
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  templates/ai-task-manager/config/hooks/PRE_TASK_EXECUTION.md
Owners: @documentation-team

chore(release): 1.33.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team
