Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

fix: use semantic-release CLI directly instead of action
  .github/workflows/release.yml
Owners: @repository-maintainers

fix: use semantic-release CLI directly instead of action
  .github/workflows/release.yml
Owners: @repository-maintainers

fix: disable Husky hooks in CI to allow semantic-release commits
  .github/workflows/release.yml
Owners: @repository-maintainers

fix: disable Husky hooks in CI to allow semantic-release commits
  .github/workflows/release.yml
Owners: @repository-maintainers

fix: remove tarballDir configuration from semantic-release
  .releaserc.json
Owners: @repository-maintainers

fix: remove tarballDir configuration from semantic-release
  .releaserc.json
Owners: @repository-maintainers

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  bbf79941d59570b23d1c2dd4f5b59da0f7dda1af
Owners: @repository-maintainers

fix: add publishConfig to set package as public
  package.json
Owners: @repository-maintainers

fix: add publishConfig to set package as public
  package.json
Owners: @repository-maintainers

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  f7f63020ac2eda3dc1934a4daf9503cc67c97d31
Owners: @repository-maintainers

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

ci: use latest LTS Node.js version in workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @repository-maintainers

ci: use latest LTS Node.js version in workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @repository-maintainers

feat: remove unnecessary templates
  templates/commands/tasks/create-plan.toml
  templates/commands/tasks/execute-blueprint.toml
  templates/commands/tasks/generate-tasks.toml
Owners: @repository-maintainers

feat: remove unnecessary templates
  templates/commands/tasks/create-plan.toml
  templates/commands/tasks/execute-blueprint.toml
  templates/commands/tasks/generate-tasks.toml
Owners: @repository-maintainers

fix: better defaults for dev container
  .devcontainer/Dockerfile
Owners: @repository-maintainers

fix: better defaults for dev container
  .devcontainer/Dockerfile
Owners: @repository-maintainers

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  87d38137fb88988e6d8e75526ee3233fa472e4fc
Owners: @repository-maintainers

docs: improve the messages shown to the user
  .gitignore
  README.md
  src/index.ts
Owners: @repository-maintainers, @documentation-team, @development-team

docs: improve the messages shown to the user
  .gitignore
  README.md
  src/index.ts
Owners: @repository-maintainers, @documentation-team, @development-team

fix: try to avoid overtesting
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team

fix: try to avoid overtesting
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team

docs: improve wording slightly
  templates/commands/tasks/create-plan.md
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team

docs: improve wording slightly
  templates/commands/tasks/create-plan.md
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team

chore: streamline test suite and improve development workflow
  .github/workflows/test.yml
  .jest-cache/haste-map-472e5c64988eef1e12a84f6a349ab3c3-8af22c44f40455ccc731201a5e49607e-6331358f6e3153384cf453c0e124ae23
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/1b/types_1b469fa4b85f16c6664156a13c52400c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/1b/types_1b469fa4b85f16c6664156a13c52400c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/4d/types_4d904d1cb41fd1ece72fc2b610240341
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/4d/types_4d904d1cb41fd1ece72fc2b610240341.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/73/utils_736d331c2676caac681df015d9c8b9ec
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/73/utils_736d331c2676caac681df015d9c8b9ec.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/8b/utilstest_8b150d5e8f08c7a290daf16f8ed94d8c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/8b/utilstest_8b150d5e8f08c7a290daf16f8ed94d8c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d6/cliintegrationtest_d6767c1662989d12c9895f266392637c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d6/cliintegrationtest_d6767c1662989d12c9895f266392637c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d8/utils_d820df31eaaae0a079dda3845258de9a
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d8/utils_d820df31eaaae0a079dda3845258de9a.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/e7/logger_e78e79a0f107f58cf28690f305e817c0
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/e7/logger_e78e79a0f107f58cf28690f305e817c0.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/fd/index_fd875a899e87712b0f0f894632928fae
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/fd/index_fd875a899e87712b0f0f894632928fae.map
  .jest-cache/perf-cache-472e5c64988eef1e12a84f6a349ab3c3-da39a3ee5e6b4b0d3255bfef95601890
  CLAUDE.md
  SECRETS_CONFIG.md
  claude-template-analysis.md
  jest.config.js
  jest.setup.js
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/toml-integration.test.ts
  src/__tests__/toml-validation.test.ts
  src/__tests__/utils.test.ts
  src/index.ts
Owners: @repository-maintainers, @documentation-team, @development-team

chore: streamline test suite and improve development workflow
  .github/workflows/test.yml
  .jest-cache/haste-map-472e5c64988eef1e12a84f6a349ab3c3-8af22c44f40455ccc731201a5e49607e-6331358f6e3153384cf453c0e124ae23
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/1b/types_1b469fa4b85f16c6664156a13c52400c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/1b/types_1b469fa4b85f16c6664156a13c52400c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/4d/types_4d904d1cb41fd1ece72fc2b610240341
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/4d/types_4d904d1cb41fd1ece72fc2b610240341.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/73/utils_736d331c2676caac681df015d9c8b9ec
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/73/utils_736d331c2676caac681df015d9c8b9ec.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/8b/utilstest_8b150d5e8f08c7a290daf16f8ed94d8c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/8b/utilstest_8b150d5e8f08c7a290daf16f8ed94d8c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d6/cliintegrationtest_d6767c1662989d12c9895f266392637c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d6/cliintegrationtest_d6767c1662989d12c9895f266392637c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d8/utils_d820df31eaaae0a079dda3845258de9a
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d8/utils_d820df31eaaae0a079dda3845258de9a.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/e7/logger_e78e79a0f107f58cf28690f305e817c0
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/e7/logger_e78e79a0f107f58cf28690f305e817c0.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/fd/index_fd875a899e87712b0f0f894632928fae
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/fd/index_fd875a899e87712b0f0f894632928fae.map
  .jest-cache/perf-cache-472e5c64988eef1e12a84f6a349ab3c3-da39a3ee5e6b4b0d3255bfef95601890
  CLAUDE.md
  SECRETS_CONFIG.md
  claude-template-analysis.md
  jest.config.js
  jest.setup.js
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/logger.test.ts
  src/__tests__/toml-integration.test.ts
  src/__tests__/toml-validation.test.ts
  src/__tests__/utils.test.ts
  src/index.ts
Owners: @repository-maintainers, @documentation-team, @development-team

Notes added by 'git notes add'
  9fdac36fc54ce62b1dcd900c4fa1f0dce194ed0c
Owners: @repository-maintainers

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore: untrack unnecessary files
  .gitignore
  .jest-cache/haste-map-472e5c64988eef1e12a84f6a349ab3c3-8af22c44f40455ccc731201a5e49607e-6331358f6e3153384cf453c0e124ae23
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/1b/types_1b469fa4b85f16c6664156a13c52400c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/1b/types_1b469fa4b85f16c6664156a13c52400c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/4d/types_4d904d1cb41fd1ece72fc2b610240341
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/4d/types_4d904d1cb41fd1ece72fc2b610240341.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/73/utils_736d331c2676caac681df015d9c8b9ec
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/73/utils_736d331c2676caac681df015d9c8b9ec.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/8b/utilstest_8b150d5e8f08c7a290daf16f8ed94d8c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/8b/utilstest_8b150d5e8f08c7a290daf16f8ed94d8c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d6/cliintegrationtest_d6767c1662989d12c9895f266392637c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d6/cliintegrationtest_d6767c1662989d12c9895f266392637c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d8/utils_d820df31eaaae0a079dda3845258de9a
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d8/utils_d820df31eaaae0a079dda3845258de9a.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/e7/logger_e78e79a0f107f58cf28690f305e817c0
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/e7/logger_e78e79a0f107f58cf28690f305e817c0.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/fd/index_fd875a899e87712b0f0f894632928fae
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/fd/index_fd875a899e87712b0f0f894632928fae.map
  .jest-cache/perf-cache-472e5c64988eef1e12a84f6a349ab3c3-da39a3ee5e6b4b0d3255bfef95601890
Owners: @repository-maintainers

chore: untrack unnecessary files
  .gitignore
  .jest-cache/haste-map-472e5c64988eef1e12a84f6a349ab3c3-8af22c44f40455ccc731201a5e49607e-6331358f6e3153384cf453c0e124ae23
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/1b/types_1b469fa4b85f16c6664156a13c52400c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/1b/types_1b469fa4b85f16c6664156a13c52400c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/4d/types_4d904d1cb41fd1ece72fc2b610240341
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/4d/types_4d904d1cb41fd1ece72fc2b610240341.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/73/utils_736d331c2676caac681df015d9c8b9ec
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/73/utils_736d331c2676caac681df015d9c8b9ec.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/8b/utilstest_8b150d5e8f08c7a290daf16f8ed94d8c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/8b/utilstest_8b150d5e8f08c7a290daf16f8ed94d8c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d6/cliintegrationtest_d6767c1662989d12c9895f266392637c
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d6/cliintegrationtest_d6767c1662989d12c9895f266392637c.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d8/utils_d820df31eaaae0a079dda3845258de9a
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/d8/utils_d820df31eaaae0a079dda3845258de9a.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/e7/logger_e78e79a0f107f58cf28690f305e817c0
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/e7/logger_e78e79a0f107f58cf28690f305e817c0.map
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/fd/index_fd875a899e87712b0f0f894632928fae
  .jest-cache/jest-transform-cache-472e5c64988eef1e12a84f6a349ab3c3-23d5316c2f532c1ef0d0b6c0d3fd8ee4/fd/index_fd875a899e87712b0f0f894632928fae.map
  .jest-cache/perf-cache-472e5c64988eef1e12a84f6a349ab3c3-da39a3ee5e6b4b0d3255bfef95601890
Owners: @repository-maintainers

docs: add task manager conceptual context to CLAUDE.md
  CLAUDE.md
Owners: @documentation-team

docs: add task manager conceptual context to CLAUDE.md
  CLAUDE.md
Owners: @documentation-team

fix: better looking output table
  src/index.ts
  src/logger.ts
Owners: @development-team

fix: better looking output table
  src/index.ts
  src/logger.ts
Owners: @development-team
