Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

feat: simplify copy code
  README.md
  src/__tests__/cli.integration.test.ts
  src/index.ts
  src/types.ts
  src/utils.ts
  templates/ai-task-manager/config/scripts/check-task-dependencies.sh
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team, @development-team, @repository-maintainers

feat: simplify copy code
  README.md
  src/__tests__/cli.integration.test.ts
  src/index.ts
  src/types.ts
  src/utils.ts
  templates/ai-task-manager/config/scripts/check-task-dependencies.sh
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team, @development-team, @repository-maintainers

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  5966583d88f1be0bd474d23abe6ee2f97b5c00a6
Owners: @repository-maintainers

chore: fix output boxes
  src/index.ts
Owners: @development-team

chore: fix output boxes
  src/index.ts
Owners: @development-team

feat: implement Node.js dependency checker script
  templates/ai-task-manager/config/scripts/check-task-dependencies.js
Owners: @repository-maintainers

feat: implement Node.js dependency checker script
  templates/ai-task-manager/config/scripts/check-task-dependencies.js
Owners: @repository-maintainers

feat: update template references to Node.js dependency checker
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

feat: update template references to Node.js dependency checker
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

chore: remove bash dependency checker script
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  templates/ai-task-manager/config/scripts/check-task-dependencies.sh
Owners: @repository-maintainers

chore: remove bash dependency checker script
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  templates/ai-task-manager/config/scripts/check-task-dependencies.sh
Owners: @repository-maintainers

feat: use JS script
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @repository-maintainers, @documentation-team

feat: use JS script
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @repository-maintainers, @documentation-team

Notes added by 'git notes add'
  dc83e66e9bb9868ce7dfb603b144a619638640cc
Owners: @repository-maintainers

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore: update LICENSE to make it Open Source
  LICENSE
  README.md
Owners: @repository-maintainers, @documentation-team

chore: update LICENSE to make it Open Source
  LICENSE
  README.md
Owners: @repository-maintainers, @documentation-team

feat: use internal Todo tool
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

feat: use internal Todo tool
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
Owners: @documentation-team

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  cf39feabeb7164f235be24b8b8eb74ce5dedc831
Owners: @repository-maintainers

docs: be less intense about the money
  README.md
Owners: @documentation-team

docs: be less intense about the money
  README.md
Owners: @documentation-team

feat(hooks): create four new hook files for command functionality extraction
  templates/ai-task-manager/config/hooks/POST_ERROR_DETECTION.md
  templates/ai-task-manager/config/hooks/POST_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_PHASE.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
Owners: @documentation-team

refactor(commands): replace duplicated code with hook references
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

feat: add documentation site with strategic diagrams and automated deployment
  .github/workflows/docs.yml
  docs/DEPLOYMENT.md
  docs/_config.yml
  docs/index.md
Owners: @repository-maintainers, @documentation-team

Documentation Site: Strategic Diagrams & Automated Deployment (#2)
  .github/workflows/docs.yml
  docs/DEPLOYMENT.md
  docs/_config.yml
  docs/index.md
Owners: @repository-maintainers, @documentation-team

Documentation Site: Strategic Diagrams & Automated Deployment (#2)
  .github/workflows/docs.yml
  docs/DEPLOYMENT.md
  docs/_config.yml
  docs/index.md
Owners: @repository-maintainers, @documentation-team

fix: correct site URLs and add Mermaid diagram support
  docs/_config.yml
  docs/_layouts/default.html
Owners: @documentation-team

fix: correct site URLs and add Mermaid diagram support
  docs/_config.yml
  docs/_layouts/default.html
Owners: @documentation-team

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  559441734a60d433be09fca9281ff3aaa7074803
Owners: @repository-maintainers

fix: improve Mermaid diagram rendering with proper DOM manipulation
  docs/_includes/mermaid.html
  docs/_layouts/default.html
Owners: @documentation-team

fix: improve Mermaid diagram rendering with proper DOM manipulation
  docs/_includes/mermaid.html
  docs/_layouts/default.html
Owners: @documentation-team

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers
