Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

test: fix all failing tests and improve test suite reliability
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/toml-integration.test.ts
  src/__tests__/toml-validation.test.ts
  src/__tests__/utils.test.ts
  src/utils.ts
Owners: @development-team

test: fix all failing tests and improve test suite reliability
  src/__tests__/cli.integration.test.ts
  src/__tests__/index.test.ts
  src/__tests__/toml-integration.test.ts
  src/__tests__/toml-validation.test.ts
  src/__tests__/utils.test.ts
  src/utils.ts
Owners: @development-team

feat: add fun emojis to log entries
  src/index.ts
Owners: @development-team

docs: clarify docs on TOML commands
  README.md
Owners: @documentation-team

chore: update description
  package.json
Owners: @repository-maintainers

docs: clarify docs on TOML commands
  README.md
Owners: @documentation-team

feat: add fun emojis to log entries
  src/index.ts
Owners: @development-team

chore: update description
  package.json
Owners: @repository-maintainers

test: improve typescript compilation and test configuration
  jest.config.js
  src/utils.ts
  tsconfig.test.json
Owners: @repository-maintainers, @development-team

test: improve typescript compilation and test configuration
  jest.config.js
  src/utils.ts
  tsconfig.test.json
Owners: @repository-maintainers, @development-team

test: remove annoying test
  src/__tests__/cli.integration.test.ts
Owners: @development-team

feat: simplify pr validation workflow and fix semantic-release config
  .github/workflows/pr-validation.yml
  .github/workflows/test.yml
  .releaserc.json
Owners: @repository-maintainers

fix: commit package-json
  .gitignore
  package-lock.json
Owners: @repository-maintainers

fix: use comparative versions
  package-lock.json
  package.json
Owners: @repository-maintainers

feat: fix the release workflow
  .github/workflows/release.yml
  eslint.config.mjs
  package.json
Owners: @repository-maintainers

fix: commit package-json
  .gitignore
  package-lock.json
Owners: @repository-maintainers

chore: improve commit lint rules
  commitlint.config.js
Owners: @repository-maintainers

fix: use comparative versions
  package-lock.json
  package.json
Owners: @repository-maintainers

test: remove annoying test
  src/__tests__/cli.integration.test.ts
Owners: @development-team

feat: simplify pr validation workflow and fix semantic-release config
  .github/workflows/pr-validation.yml
  .github/workflows/test.yml
  .releaserc.json
Owners: @repository-maintainers

feat: fix the release workflow
  .github/workflows/release.yml
  eslint.config.mjs
  package.json
Owners: @repository-maintainers

chore: improve commit lint rules
  commitlint.config.js
Owners: @repository-maintainers

chore: downgrade semantic-release dependencies for compatibility
  .releaserc.json
  package-lock.json
  package.json
Owners: @repository-maintainers

chore: downgrade semantic-release dependencies for compatibility
  .releaserc.json
  package-lock.json
  package.json
Owners: @repository-maintainers

test: no fun with emojis
  src/index.ts
Owners: @development-team

test: no fun with emojis
  src/index.ts
Owners: @development-team

ci: update CI versions
  .github/workflows/release.yml
  commitlint.config.js
Owners: @repository-maintainers

ci: update CI versions
  .github/workflows/release.yml
  commitlint.config.js
Owners: @repository-maintainers

ci: more modern Node.js version
  .github/workflows/release.yml
Owners: @repository-maintainers

ci: more modern Node.js version
  .github/workflows/release.yml
Owners: @repository-maintainers

ci: more modern Node.js version
  .github/workflows/release.yml
Owners: @repository-maintainers

ci: more modern Node.js version
  .github/workflows/release.yml
Owners: @repository-maintainers

fix: build before running tests in CI workflow
  .github/workflows/release.yml
  task-schema.json
Owners: @repository-maintainers

fix: build before running tests in CI workflow
  .github/workflows/release.yml
  task-schema.json
Owners: @repository-maintainers

fix: use compatible semantic-release-action version
  .github/workflows/release.yml
Owners: @repository-maintainers

fix: use compatible semantic-release-action version
  .github/workflows/release.yml
Owners: @repository-maintainers

fix: upgrade semantic-release to v24 for compatibility
  .github/workflows/release.yml
  package-lock.json
  package.json
Owners: @repository-maintainers

fix: upgrade semantic-release to v24 for compatibility
  .github/workflows/release.yml
  package-lock.json
  package.json
Owners: @repository-maintainers

fix: downgrade release-notes-generator to v12 for compatibility
  package-lock.json
  package.json
Owners: @repository-maintainers

fix: downgrade release-notes-generator to v12 for compatibility
  package-lock.json
  package.json
Owners: @repository-maintainers
