Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

docs: remove unnecessary artifact
  anthropic-2025-best-practices-research.md
Owners: @documentation-team

docs: remove unnecessary artifact
  anthropic-2025-best-practices-research.md
Owners: @documentation-team

docs: rename docs
  AGENTS.md
  CLAUDE.md
Owners: @documentation-team

docs: rename docs
  AGENTS.md
  CLAUDE.md
Owners: @documentation-team

Notes added by 'git notes add'
  3d80358c219fdf08ece536769a967b87403a0472
Owners: @repository-maintainers

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

docs: update path file in docs
  docs/index.md
Owners: @documentation-team

docs: update path file in docs
  docs/index.md
Owners: @documentation-team

ci: update the devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

ci: update the devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

fix: improve execution todo list
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

fix: improve execution todo list
  templates/assistant/commands/tasks/execute-blueprint.md
Owners: @documentation-team

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  997a4f7a309836f98ad9fd1c4ef1b4ffccbf24c7
Owners: @repository-maintainers

docs: add comparison section with plan mode
  docs/comparison.md
Owners: @documentation-team

docs: add comparison section with plan mode
  docs/comparison.md
Owners: @documentation-team

feat: implement assistant detection script
  .ai/task-manager/plans/29--assistant-config-injection/tasks/01--detect-assistant-script.md
  templates/ai-task-manager/config/scripts/detect-assistant.cjs
Owners: @documentation-team, @repository-maintainers

feat: implement assistant detection script
  .ai/task-manager/plans/29--assistant-config-injection/tasks/01--detect-assistant-script.md
  templates/ai-task-manager/config/scripts/detect-assistant.cjs
Owners: @documentation-team, @repository-maintainers

feat: implement configuration reader script
  .ai/task-manager/plans/29--assistant-config-injection/tasks/02--config-reader-script.md
  templates/ai-task-manager/config/scripts/read-assistant-config.cjs
Owners: @documentation-team, @repository-maintainers

feat: implement configuration reader script
  .ai/task-manager/plans/29--assistant-config-injection/tasks/02--config-reader-script.md
  templates/ai-task-manager/config/scripts/read-assistant-config.cjs
Owners: @documentation-team, @repository-maintainers

feat: inject config detection into command templates
  .ai/task-manager/plans/29--assistant-config-injection/tasks/03--update-create-plan-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/04--update-generate-tasks-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/05--update-execute-blueprint-template.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

feat: inject config detection into command templates
  .ai/task-manager/plans/29--assistant-config-injection/tasks/03--update-create-plan-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/04--update-generate-tasks-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/05--update-execute-blueprint-template.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

test: validate configuration detection system
  .ai/task-manager/plans/29--assistant-config-injection/tasks/06--integration-testing.md
Owners: @documentation-team

test: validate configuration detection system
  .ai/task-manager/plans/29--assistant-config-injection/tasks/06--integration-testing.md
Owners: @documentation-team

docs: add execution summary to plan 29
  .ai/task-manager/plans/29--assistant-config-injection/plan-29--assistant-config-injection.md
Owners: @documentation-team

docs: add execution summary to plan 29
  .ai/task-manager/plans/29--assistant-config-injection/plan-29--assistant-config-injection.md
Owners: @documentation-team

refactor: remove debug logging from config scripts
  templates/ai-task-manager/config/scripts/detect-assistant.cjs
  templates/ai-task-manager/config/scripts/read-assistant-config.cjs
Owners: @repository-maintainers

refactor: remove debug logging from config scripts
  templates/ai-task-manager/config/scripts/detect-assistant.cjs
  templates/ai-task-manager/config/scripts/read-assistant-config.cjs
Owners: @repository-maintainers

chore: archive AI plan
  .ai/task-manager/plans/29--assistant-config-injection/plan-29--assistant-config-injection.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/01--detect-assistant-script.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/02--config-reader-script.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/03--update-create-plan-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/04--update-generate-tasks-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/05--update-execute-blueprint-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/06--integration-testing.md
Owners: @documentation-team

chore: archive AI plan
  .ai/task-manager/plans/29--assistant-config-injection/plan-29--assistant-config-injection.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/01--detect-assistant-script.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/02--config-reader-script.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/03--update-create-plan-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/04--update-generate-tasks-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/05--update-execute-blueprint-template.md
  .ai/task-manager/plans/29--assistant-config-injection/tasks/06--integration-testing.md
Owners: @documentation-team

fix: improve devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

fix: improve devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  304064efe47c13ff9162f6ffc50bd3b8e6f33403
Owners: @repository-maintainers

feat: add npm dependencies for conflict detection
  package-lock.json
  package.json
Owners: @repository-maintainers

feat: add npm dependencies for conflict detection
  package-lock.json
  package.json
Owners: @repository-maintainers

feat: add type definitions for metadata tracking
  src/types.ts
Owners: @development-team
