Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

chore(release): 1.8.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  0b71ec1d3194c231016f964b4a34764af16007d4
Owners: @repository-maintainers

refactor(templates): integrate PRE_PLAN.md hook and remove redundant sections
  templates/assistant/commands/tasks/create-plan.md
Owners: @documentation-team

refactor(templates): integrate PRE_PLAN.md hook and remove redundant sections
  templates/assistant/commands/tasks/create-plan.md
Owners: @documentation-team

feat: general refactor of hooks
  templates/ai-task-manager/config/hooks/POST_PHASE.md
  templates/ai-task-manager/config/hooks/POST_PLAN.md
  templates/ai-task-manager/config/hooks/POST_TASK_GENERATION_ALL.md
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  templates/ai-task-manager/config/templates/BLUEPRINT_TEMPLATE.md
  templates/ai-task-manager/config/templates/EXECUTION_SUMMARY_TEMPLATE.md
  templates/ai-task-manager/config/templates/TASK_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

feat: general refactor of hooks
  templates/ai-task-manager/config/hooks/POST_PHASE.md
  templates/ai-task-manager/config/hooks/POST_PLAN.md
  templates/ai-task-manager/config/hooks/POST_TASK_GENERATION_ALL.md
  templates/ai-task-manager/config/hooks/PRE_PLAN.md
  templates/ai-task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  templates/ai-task-manager/config/templates/BLUEPRINT_TEMPLATE.md
  templates/ai-task-manager/config/templates/EXECUTION_SUMMARY_TEMPLATE.md
  templates/ai-task-manager/config/templates/TASK_TEMPLATE.md
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-blueprint.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team

docs: additional documentation
  .github/workflows/docs.yml
  README.md
  docs/_config.yml
  docs/features.md
  docs/hooks.md
  docs/index.md
  docs/templates.md
  templates/ai-task-manager/config/scripts/check-task-dependencies.js
  templates/ai-task-manager/config/scripts/get-next-plan-id.js
  templates/ai-task-manager/config/scripts/get-next-task-id.js
Owners: @repository-maintainers, @documentation-team

docs: additional documentation
  .github/workflows/docs.yml
  README.md
  docs/_config.yml
  docs/features.md
  docs/hooks.md
  docs/index.md
  docs/templates.md
  templates/ai-task-manager/config/scripts/check-task-dependencies.js
  templates/ai-task-manager/config/scripts/get-next-plan-id.js
  templates/ai-task-manager/config/scripts/get-next-task-id.js
Owners: @repository-maintainers, @documentation-team

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  30d87a3317220af3d9337c3cbf2f89fb6b9a76c5
Owners: @repository-maintainers

fix: use common js extension
  docs/hooks.md
  templates/ai-task-manager/config/hooks/PRE_PHASE.md
  templates/ai-task-manager/config/scripts/check-task-dependencies.cjs
  templates/ai-task-manager/config/scripts/get-next-plan-id.cjs
  templates/ai-task-manager/config/scripts/get-next-task-id.cjs
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team, @repository-maintainers

fix: use common js extension
  docs/hooks.md
  templates/ai-task-manager/config/hooks/PRE_PHASE.md
  templates/ai-task-manager/config/scripts/check-task-dependencies.cjs
  templates/ai-task-manager/config/scripts/get-next-plan-id.cjs
  templates/ai-task-manager/config/scripts/get-next-task-id.cjs
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/execute-task.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @documentation-team, @repository-maintainers

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  a07b8f59f2cf864de46e05ca7d3184d3b2d00abe
Owners: @repository-maintainers

fix: address plan ID detection issues
  src/__tests__/get-next-plan-id.test.ts
  templates/ai-task-manager/config/scripts/get-next-plan-id.cjs
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @repository-maintainers, @documentation-team

fix: address plan ID detection issues
  src/__tests__/get-next-plan-id.test.ts
  templates/ai-task-manager/config/scripts/get-next-plan-id.cjs
  templates/assistant/commands/tasks/create-plan.md
  templates/assistant/commands/tasks/generate-tasks.md
Owners: @development-team, @repository-maintainers, @documentation-team

test: add enhanced diagnostics for plan ID detection test failures
  debug-plan-id.js
  src/__tests__/get-next-plan-id.test.ts
Owners: @repository-maintainers, @development-team

test: add enhanced diagnostics for plan ID detection test failures
  debug-plan-id.js
  src/__tests__/get-next-plan-id.test.ts
Owners: @repository-maintainers, @development-team

fix: remove ANSI color codes from plan ID script output in tests
  debug-plan-id.js
  src/__tests__/get-next-plan-id.test.ts
Owners: @repository-maintainers, @development-team

fix: remove ANSI color codes from plan ID script output in tests
  debug-plan-id.js
  src/__tests__/get-next-plan-id.test.ts
Owners: @repository-maintainers, @development-team

test: remove unreliable permission test for plan ID detection
  src/__tests__/get-next-plan-id.test.ts
Owners: @development-team

test: remove unreliable permission test for plan ID detection
  src/__tests__/get-next-plan-id.test.ts
Owners: @development-team

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  86705c2a094147519d801c08029d6598ffeb01d5
Owners: @repository-maintainers

feat: add command to fix broken tests
  templates/assistant/commands/tasks/fix-broken-tests.md
Owners: @documentation-team

feat: add command to fix broken tests
  templates/assistant/commands/tasks/fix-broken-tests.md
Owners: @documentation-team

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  d3d451c004ffab2d17ac2f7b16cd8c21af826720
Owners: @repository-maintainers

docs: update site to include the new command
  docs/features.md
  docs/index.md
  docs/templates.md
Owners: @documentation-team

docs: update site to include the new command
  docs/features.md
  docs/index.md
  docs/templates.md
Owners: @documentation-team

feat(docs): complete Phase 1 audit and research tasks
  anthropic-2025-best-practices-research.md
Owners: @documentation-team

feat(docs): complete Phase 1 audit and research tasks
  anthropic-2025-best-practices-research.md
Owners: @documentation-team

feat(docs): complete Phase 3 - restructure CLAUDE.md
  CLAUDE.md
Owners: @documentation-team

feat(docs): complete Phase 3 - restructure CLAUDE.md
  CLAUDE.md
Owners: @documentation-team

feat(docs): complete Phase 4 - validate documentation accuracy
  CLAUDE.md
  src/__tests__/get-next-plan-id.test.ts
Owners: @documentation-team, @development-team

feat(docs): complete Phase 4 - validate documentation accuracy
  CLAUDE.md
  src/__tests__/get-next-plan-id.test.ts
Owners: @documentation-team, @development-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team
