Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  9c0be91bae8e3c2ecbfd134bde2739c35b4f9be9
Owners: @repository-maintainers

fix: correct output box alignments
  src/index.ts
Owners: @development-team

fix: correct output box alignments
  src/index.ts
Owners: @development-team

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  bdd7a4dc625fd0754982ca8bd69c9472a3b071c2
Owners: @repository-maintainers

chore: untrack agent folders for this particular project
  .claude/agents/code-reviewer.md
  .claude/agents/debugger.md
  .claude/agents/deployment-engineer.md
  .claude/agents/javascript-developer.md
  .claude/agents/prompt-engineer.md
  .claude/agents/test-automator.md
  .claude/agents/typescript-expert.md
  .claude/commands/tasks/create-plan.md
  .claude/commands/tasks/execute-blueprint.md
  .claude/commands/tasks/generate-tasks.md
  .gemini/commands/tasks/create-plan.toml
  .gemini/commands/tasks/execute-blueprint.toml
  .gemini/commands/tasks/generate-tasks.toml
Owners: @documentation-team, @repository-maintainers

chore: untrack agent folders for this particular project
  .claude/agents/code-reviewer.md
  .claude/agents/debugger.md
  .claude/agents/deployment-engineer.md
  .claude/agents/javascript-developer.md
  .claude/agents/prompt-engineer.md
  .claude/agents/test-automator.md
  .claude/agents/typescript-expert.md
  .claude/commands/tasks/create-plan.md
  .claude/commands/tasks/execute-blueprint.md
  .claude/commands/tasks/generate-tasks.md
  .gemini/commands/tasks/create-plan.toml
  .gemini/commands/tasks/execute-blueprint.toml
  .gemini/commands/tasks/generate-tasks.toml
Owners: @documentation-team, @repository-maintainers

docs: improve README visuals
  README.md
Owners: @documentation-team

docs: improve README visuals
  README.md
Owners: @documentation-team

fix: improve task generation
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team

fix: improve task generation
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  d242948b319088211758b2f31474825ee63cc66e
Owners: @repository-maintainers

chore: add linting to pre-commit hook
  .husky/pre-commit
  src/index.ts
Owners: @repository-maintainers, @development-team

chore: add linting to pre-commit hook
  .husky/pre-commit
  src/index.ts
Owners: @repository-maintainers, @development-team

docs: complete AI task management system documentation and analysis
  CLAUDE.md
  IMPROVEMENTS.md
Owners: @documentation-team

docs: complete AI task management system documentation and analysis
  CLAUDE.md
  IMPROVEMENTS.md
Owners: @documentation-team

test: add comprehensive integration tests for archive functionality
  .devcontainer/Dockerfile
  src/__tests__/archive.integration.test.ts
Owners: @repository-maintainers, @development-team

test: add comprehensive integration tests for archive functionality
  .devcontainer/Dockerfile
  src/__tests__/archive.integration.test.ts
Owners: @repository-maintainers, @development-team

refactor: remove invalid archive integration tests
  src/__tests__/archive.integration.test.ts
Owners: @development-team

refactor: remove invalid archive integration tests
  src/__tests__/archive.integration.test.ts
Owners: @development-team

feat: update create-plan template for archive-aware plan ID detection
  templates/commands/tasks/create-plan.md
Owners: @documentation-team

feat: update create-plan template for archive-aware plan ID detection
  templates/commands/tasks/create-plan.md
Owners: @documentation-team

feat: complete archive functionality implementation in templates
  templates/ai-task-manager/TASK_MANAGER_INFO.md
  templates/commands/tasks/execute-blueprint.md
Owners: @documentation-team

feat: complete archive functionality implementation in templates
  templates/ai-task-manager/TASK_MANAGER_INFO.md
  templates/commands/tasks/execute-blueprint.md
Owners: @documentation-team

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  33609a484065d4b32fbd459febde64d0db7cfb10
Owners: @repository-maintainers

fix: improve plan generation
  .github/SECURITY.md
  CLAUDE.md
  README.md
  eslint.config.mjs
  src/__tests__/cli.integration.test.ts
  templates/ai-task-manager/TASK_MANAGER_INFO.md
  templates/commands/tasks/create-plan.md
  templates/commands/tasks/execute-blueprint.md
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team, @repository-maintainers, @development-team

fix: improve plan generation
  .github/SECURITY.md
  CLAUDE.md
  README.md
  eslint.config.mjs
  src/__tests__/cli.integration.test.ts
  templates/ai-task-manager/TASK_MANAGER_INFO.md
  templates/commands/tasks/create-plan.md
  templates/commands/tasks/execute-blueprint.md
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team, @repository-maintainers, @development-team

fix: refine task generation and execution
  templates/commands/tasks/execute-blueprint.md
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team

fix: refine task generation and execution
  templates/commands/tasks/execute-blueprint.md
  templates/commands/tasks/generate-tasks.md
Owners: @documentation-team

docs: update README.md
  README.md
Owners: @documentation-team

docs: update README.md
  README.md
Owners: @documentation-team

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team
