Repository e0ipso/ai-task-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repository-maintainers, @development-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all files require review from repository maintainers
* @repository-maintainers

# Specific ownership for critical files
package.json @repository-maintainers
package-lock.json @repository-maintainers
tsconfig.json @repository-maintainers

# GitHub Actions workflows
.github/workflows/ @repository-maintainers

# Security and configuration files
.github/dependabot.yml @repository-maintainers
.github/CODEOWNERS @repository-maintainers

# Source code - development team
src/ @development-team
tests/ @development-team

# Documentation
README.md @documentation-team
docs/ @documentation-team
*.md @documentation-team

feat: add type definitions for metadata tracking
  src/types.ts
Owners: @development-team

feat: implement hash utilities and force flag
  src/cli.ts
  src/metadata.ts
Owners: @development-team

feat: implement hash utilities and force flag
  src/cli.ts
  src/metadata.ts
Owners: @development-team

feat: implement conflict detection and interactive prompts
  src/conflict-detector.ts
  src/prompts.ts
Owners: @development-team

feat: implement conflict detection and interactive prompts
  src/conflict-detector.ts
  src/prompts.ts
Owners: @development-team

feat: integrate conflict detection with init command
  src/index.ts
Owners: @development-team

feat: integrate conflict detection with init command
  src/index.ts
Owners: @development-team

test: add integration tests for conflict detection
  jest.config.js
  src/__tests__/conflict-detection.integration.test.ts
Owners: @repository-maintainers, @development-team

test: add integration tests for conflict detection
  jest.config.js
  src/__tests__/conflict-detection.integration.test.ts
Owners: @repository-maintainers, @development-team

docs: document file conflict detection feature
  AGENTS.md
  README.md
Owners: @documentation-team

docs: document file conflict detection feature
  AGENTS.md
  README.md
Owners: @documentation-team

docs: document overwrite protection
  AGENTS.md
  docs/features.md
Owners: @documentation-team

docs: document overwrite protection
  AGENTS.md
  docs/features.md
Owners: @documentation-team

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  410f1b94b8f2bb5302bdf50fe9a0cd108a5426ee
Owners: @repository-maintainers

feat: mount Claude folders and files
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

feat: mount Claude folders and files
  .devcontainer/devcontainer.json
Owners: @repository-maintainers

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  6c771a641a6016892dff0a34602674d385c9f78e
Owners: @repository-maintainers

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore: add README.md file to inform what the folder is about
  src/index.ts
  templates/ai-task-manager/README.md
Owners: @development-team, @documentation-team

chore: add README.md file to inform what the folder is about
  src/index.ts
  templates/ai-task-manager/README.md
Owners: @development-team, @documentation-team

feat: add status command for dashboard
  package-lock.json
  package.json
  src/__tests__/status.test.ts
  src/cli.ts
  src/status.ts
Owners: @repository-maintainers, @development-team

feat: add status command for dashboard
  package-lock.json
  package.json
  src/__tests__/status.test.ts
  src/cli.ts
  src/status.ts
Owners: @repository-maintainers, @development-team

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @documentation-team, @repository-maintainers

Notes added by 'git notes add'
  89925401562eb9a55b18c6a20f7ab3fe279546f0
Owners: @repository-maintainers

docs: document status command across user-facing documentation
  README.md
  docs/features.md
  docs/index.md
Owners: @documentation-team

feat: add dashboard image
  README.md
  docs/features.md
  docs/img/dashboard.svg
  docs/index.md
Owners: @documentation-team

docs: document status command (#5)
  README.md
  docs/features.md
  docs/img/dashboard.svg
  docs/index.md
Owners: @documentation-team

docs: document status command (#5)
  README.md
  docs/features.md
  docs/img/dashboard.svg
  docs/index.md
Owners: @documentation-team

docs: fix image in docs
  README.md
  docs/features.md
  docs/index.md
Owners: @documentation-team

docs: fix image in docs
  README.md
  docs/features.md
  docs/index.md
Owners: @documentation-team

feat: implement plan CLI command with show and archive subcommands
  .gitignore
  src/__tests__/plan.test.ts
  src/cli.ts
  src/plan-utils.ts
  src/plan.ts
  src/status.ts
Owners: @repository-maintainers, @development-team

feat: implement plan CLI command with show and archive subcommands
  .gitignore
  src/__tests__/plan.test.ts
  src/cli.ts
  src/plan-utils.ts
  src/plan.ts
  src/status.ts
Owners: @repository-maintainers, @development-team

fix: make plan-id optional to support shorthand syntax
  src/cli.ts
Owners: @development-team

fix: make plan-id optional to support shorthand syntax
  src/cli.ts
Owners: @development-team

feat: add full-workflow command template
  .ai/task-manager/plans/35--full-workflow-command/tasks/01--create-full-workflow-template.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team

feat: add full-workflow command template
  .ai/task-manager/plans/35--full-workflow-command/tasks/01--create-full-workflow-template.md
  templates/assistant/commands/tasks/full-workflow.md
Owners: @documentation-team
